JWT_SECRET=
MAIL_FROM=
MAIL_HOST=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_USERNAME=
POSTGRES_PASSWORD=
POSTGRES_USER=
REDIS_HOST=
REDIS_PORT=
SPRING_DATASOURCE_PASSWORD=
SPRING_DATASOURCE_USERNAME=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=